# OS-generated
# ------------
.DS_Store*
[Tt]humbs.db
[Dd]esktop.ini


# =========================================================================== #
# 	Python-related
# =========================================================================== #
# src: https://github.com/github/gitignore/blob/master/Python.gitignore
.idea/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# =========================================================================== #
# 	Project-specific rules
# =========================================================================== #
# add here
